<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BotBits" version="262.0.3" targetFramework="net472" />
  <package id="PlayerIOClient-Signed" version="3.5.2" targetFramework="net472" developmentDependency="true" />
  <package id="System.ComponentModel.Composition" version="4.7.0" targetFramework="net472" />
</packages>